/*** BOX SIZING ***/
* {
	box-sizing: border-box;
  }
  /* Keep border and padding inside the box measurement */
  
  /*** TEXT & FONTS ***/
  @import url('https://fonts.googleapis.com/css?family=Anton');
  
  h1{
	  font-family: 'Anton', sans-serif;
	  font-size: 8vw;
	  text-align: left;
	  margin: 0px;
	  padding-left: 20px;
	  color: #FFF; /* white */
  }
  h3{
	  font-family: 'Anton', sans-serif;
	  text-align: left;
	  margin: 0px;
	  padding-left: 20px;
	  color: #FFF; /* white */
  }
  h4{
	color: #FFF; /* white */
  }	
  
  /*** PAGE & TOP CONSTRUCTION ***/
  html, body {
	height: 100%;
  }
  body{
	  background-color: #282828; /* Graphite */
  }
  .page-header{
	  margin-top: 0px;
	  margin-bottom: 30px;
	  border: 0px;
	  padding-top: 20px;
	  padding-left: 10px;
	  height: 200px;
	  background-image: url("../images/train_lights.jpg");
  }
  
  /*** 5.0 PANELS ***/
  thead{
	  font-weight: bold;
  }
  
  /*** 7.0 FOOTER ***/
  .sticky-fix{
	  padding-bottom: 85px;
  }
  footer{
	background-color: rgba(8,8,8,0.5);
	height: 85px;
	padding-top: 10px;
	padding-left: 20px;
  }
  .github{
	  text-align: left;
	  float: left;
	  width: 25%;
	  position: relative;
	   top: 50%;
	  transform: translateY(-50%);
  }
  .html5{
	  text-align: right;
	  float: right;
	  width: 25%;
	  position: relative;
	   top: 50%;
	  transform: translateY(-50%);
  }