* {
	box-sizing: border-box;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 6vw;
	text-align: left;
	margin: 0px;
	padding-left: 20px;
	color: #FFF;
	/* white */
}

#clock {
	font-family: 'Anton', sans-serif;
	text-align: left;
	margin: 0px;
	padding-left: 20px;
	color: #FFF;
	/* white */
	text-align: center;
	font-size: 4vw;
	font-weight: bold;
}

html,
body {
	height: 100%;
}

body {
	background-color: #282828;
	/* Graphite */
}

thead {
	font-weight: bold;
}

.card-header {
	background-color: blanchedalmond;
	color: black;
	font-weight: bolder;
	display: flex;
}

#add-train-btn {
	background-color: blanchedalmond;
	border: blanchedalmond;
	color: black;
}

#add-train-btn:hover {
	background-color: black;
	color: blanchedalmond;
}

@media only screen and (max-width: 462px) {



	#train-table {
		font-size: 10px;
		font-weight: normal;
		border: none;
	}

	table {
		border-collapse: collapse;
	}
}